.consultation {
    min-height: 680px;
    background: url(../image/bg2.png) center (center/cover) no-repeat;
    padding: 103px 0 93px 0;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        margin-top: 60px;
        margin-bottom: 36px;
    }
    label.error {
        border: none;
        margin-bottom: 15px;
        color: white;
    }
    .error {
        border: 2px solid red;
        text-align: center;
    }
    
}